/* Example CSS for button styling */
button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
}

.icon {
    width: 20px; /* Adjust size as needed */
    height: 20px; /* Adjust size as needed */
    /* Add any other styles for the icon */
}

/* AllocationForm.css */
.btn-primary{padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #cccccc;
    background-color: #fff;
    outline: none;
    cursor: pointer;
    transition: border-color 0.3s, background-color 0.3s;
    background-color: #5ecd5e; /* Light blueish shade */
    border: 1px solid #a0ffa5; /* Border color */

}

.btn-primary:hover{
    background-color: #a0ffc6; /* Darker shade on hover */
    border-color: #014e10; /* Change border color on hover */
}

/* Optional: Focus style */
.btn-primary :focus {
    box-shadow: 0 0 3px 1px #00ff2f; /* Example focus style */
}



.custom-select {
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #fff;
    outline: none;
    cursor: pointer;
    transition: border-color 0.3s, background-color 0.3s;
    background-color: #e0e4e0; /* Light blueish shade */
    border: 1px solid #a0ffa5; /* Border color */
}
.custom-select:hover{
    background-color: #a0ffc6; /* Darker shade on hover */
    border-color: #014e10; /* Change border color on hover */
}

/* Optional: Focus style */
.custom-select:focus {
    box-shadow: 0 0 3px 1px #00ff2f; /* Example focus style */
}

